* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'roberto'; */
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans Multani', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

:root {
    --para_color: #484848;
    --head_color: #005980;
    --seperator_color: #00a6ff;
    --btn_gradient: linear-gradient(23deg, #3d6a86, #00a6ff);

}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

/* scroll bar  */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 80%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 70%);
}

:focus-visible {
    outline-offset: 4px;
}

/* \\\\\\\\\\\\\\\\\\  Nav Bar ============================= */

.navbar {
    height: 100px;
    max-width: 100%;
    background-color: #0185d2;
    margin: 0px;
    padding: .2vw 5vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar i {
    z-index: 1000;
    color: #ffffff;
    display: none;
    top: 0;

}

.nav-logo {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.logo {
    height: 98px;
    width: 98px;
    background-size: cover;
    border-radius: 50%;
}

.name {
    margin-left: 10px;
    color: rgb(255, 255, 255);

    font-weight: 600;
    font-size: 20px;
    /* text-shadow: 5px 2px 3px rgb(0, 0, 0); */
}

.name h3 {
    /* font-style: italic; */
    /* text-decoration: none; */
    font-weight: 400;
}




.nav-btns {
    color: rgb(228, 228, 228);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: 1s;

}

.nav-btns a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
    font-family: 'roboto', 'sans-serif';
    transition: 1s;
}

.nav-btns a:hover {
    color: #ffffff;
    transition: 0.3s all ease;
    font-weight: 500;
    transform: scale(1.1);


}

.nav-btns .appoint {
    background-color: #fa5610;
    font-weight: 300;
    color: white;
    height: 48px;
    width: 194.7px;
    padding: 0px 8px;
    /* margin: 0px 0px 0px 15px; */
    border: none;
    border-radius: 5px;
}

.nav-btns .appoint:hover {
    background-color: rgb(255, 0, 30);
    transition: 0.3s all ease;
    font-size: .83rem;
    font-weight: 500;
    transform: scale(1.05);
}

.nav-btns .appoint a {
    font-weight: 500;
    /* font-size: 12px; */

}

/* .menu_div_mobile {
    display: none;
    display: block;
    visibility: hidden;
} */

.active {

    display: inline-block;

}

/* .nav-btns_mobile { */
    /* visibility: hidden; */
    /* display:none; */
/* } */


@media screen and (max-width:1302px) {

    .logo {
        height: 88px;
        width: 88px;
    }

    .name {
        font-weight: 400;
        font-size: 1.1rem;
    }

    .nav-btns {
        /* display: none; */
    }

    .navbar .menu_btn {
        display: block;
        font-size: 1.5rem;
    }

    .active {
        background-color: #005980;
        width: 100%;
        min-height: 15rem;
        position: absolute;
        z-index: 150;
        top: 0;
        left: 0%;

    }

    /* 
    .menu_div_mobile {
        background-color: #005980;
        width: 100%;
        min-height: 15rem;
        position: absolute;
        z-index: 150;

    } */

    /* .nav-btns_mobile {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    } */
    .active{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top:80px;
        padding: 2rem 0rem;
    }

    .active a {
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
    }
    /* .nav-btns_mobile a {
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
    } */

    .appoint_mobile {

        background-color: #fa5610;
        font-weight: 400;
        color: white;
        height: 48px;
        width: 100%;
        padding: 0px 8px;
        border: none;
        border-radius: 5px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }

}

@media screen and (min-width:320px) and (max-width:470px) {

    .name {
        font-size: 1rem;
    }
}

/* =========== NAV CODE ENDS =================== */



/* ===== HERO SECTION ============= */


/* .hero_section img {

    min-height: 75vh;
    max-width: 100%;
    position: absolute;
    z-index: -1;

} */

/* ============  HERO BOX 1 SLIDER ------------------ */

.home {
    margin-top: 20px;
}

.hero_box_1 {
    background-color: rgb(236, 248, 255);
    /* max-width:30vw ; */
    position: absolute;
    margin-top: 20vh;
    margin-left: 10vw;
    padding: 3.5rem 10rem 3rem 5rem;
    border-radius: 20px;
    box-shadow: #73ceff 3px 4px 60px;
    max-width: 50rem;
    left: 0;
    top: 10vh;
    text-align: left;
}



.hero_box_1 .hero_heading_1 {
    font-size: 1.2rem;
    font-style: none;
    font-weight: 400;
    color: rgb(120, 120, 120);
    margin-bottom: .3rem;

}

.hero_box_1 .hero_shoeb_1 {
    font-size: 3rem;
    color: rgb(23, 163, 210);
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.hero_box_1 .hero_subheading_1 {
    color: #0b5e8a;
    font-weight: 500;
}

.hero_box_1 .btn_home_1 {
    padding: 1rem 3rem;
    border: none;
    border-radius: 25px;
    font-size: .9rem;
    margin-top: 35px;
    color: white;
    background: linear-gradient(23deg, #3d6a86, #00a6ff);
    font-weight: 600;
}

.hero_box_1 .btn_home_1:hover {
    background: linear-gradient(23deg, #00a6ff, #3d6a86);
    transition: .5s ease all;
    transition-timing-function: ease-in-out;
    transform: translateY(-5px);
}

/*       hero box 2 slider         */

.hero_box {
    background-color: rgb(236, 248, 255);
    /* max-width:30vw ; */
    position: absolute;
    margin-top: 20vh;
    margin-left: 10vw;
    padding: 2rem 7rem 2rem 3rem;
    border-radius: 20px;
    box-shadow: #73ceff 3px 4px 30px;
    max-width: 50rem;
    text-align: start;
    left: 0;
    top: 38vh;

}


.hero_box .hero_heading {
    font-size: 1.1rem;
    font-style: none;
    font-weight: 400;
    color: rgb(120, 120, 120);
    margin-bottom: .3rem;

}

.hero_box .hero_shoeb {
    font-size: 3rem;
    color: rgb(23, 163, 210);
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.hero_box .hero_subheading {
    color: #0b5e8a;
    font-weight: 500;
}

.hero_box .btn_home {
    padding: 1rem 3rem;
    border: none;
    border-radius: 25px;
    margin-top: 35px;
    color: white;
    background: linear-gradient(23deg, #3d6a86, #00a6ff);
    font-weight: 600;
    font-size: .9rem;
}

.hero_box .btn_home:hover {
    background: linear-gradient(23deg, #00a6ff, #3d6a86);
    transition: .5s ease all;
    transition-timing-function: ease-in-out;
    transform: translateY(-5px);
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    /* margin-bottom: 1rem; */
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------------------------ RESPONSIVE CODE -0---------------------- */

@media screen and (min-width:768px) and (max-width:1024px) {
    .mySwiper {
        height: 400px;
        width: 100%;
    }

    swiper-slide .hero_box,
    .hero_box_1 {
        display: none;
    }
}

@media screen and (min-width:250px) and (max-width:768px) {
    .navbar {
        height: 80px;
    }

    .nav-logo .logo {
        padding: 5px;
    }

    .nav-logo .name {
        font-size: .9rem;
    }

    .mySwiper {
        height: 230px;
        width: 100%;
    }

    swiper-slide .hero_box,
    .hero_box_1 {
        display: none;
    }
}

/* ---------- Section 2 Best in pRayagraj ------------------ */

.best_section_box {
    min-height: 30vh;
    width: 100%;
    padding: 4rem 18rem;
    background: linear-gradient(0deg, #ffffff, #f1fbff);
}

.best_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.best_section h1 {

    font-family: 'Montserrat', sans-serif;
    color: var(--head_color);
}

.best_section p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #484848;
    text-align: center;
}

.separator {
    min-width: 12vw;
    /* color: #00093c; */
    background-color: #00a6ff;
    height: 3px;
    margin: 1rem 0;
}

/* -----------responsive code ------------------ */

@media screen and (min-width:768px) and (max-width:1024px) {
    .best_section_box {

        width: 100%;
        padding: 2rem 6rem;
        background: linear-gradient(0deg, #ffffff, #f1fbff);
    }

}


@media screen and (min-width:250px) and (max-width:768px) {
    .best_section_box {
        padding: 1.1rem 1.5rem;
    }

    .best_section h1 {
        font-size: 1.1rem;
        text-align: center;
    }

    .best_section p {
        font-size: .9rem;
    }
}


/* ------------------------- OUR SPECIALITY ------------------------------- */

.our_speciality {
    min-height: 100vh;
    padding: 0 5rem;
    /* background-color: #00093c; */

}

.skills-sec {
    background-color: #ffffff;

    font-family: sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
}

.skills_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.skills_heading h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    color: var(--head_color);
    margin-bottom: 2rem;
}


.services {
    /* height: 300px; */
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    border: 2px solid #c0e8ff;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 3rem 1rem 2.3rem;
    box-shadow: #a9e5ff 5px 10px 56px;
    flex-direction: column;

}

.services_heading {
    margin: auto;
    margin-bottom: 1.2rem;
    font-size: 1.3rem;
    /* text-transform: capitalize; */
    /* color: var(--head_color); */
    color: #08366e;
    /* font-style: italic; */
}

.services_heading h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.services_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service_box {
    width: 17rem;
    min-height: 20rem;
    gap: 8px;
    background-color: #cafbff;
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    text-decoration: none;
    /* margin-bottom: 3rem; */
    overflow: hidden;


}

.service_box:hover {
    background: linear-gradient(100deg, #e7fbff, #4df9ff);
    box-shadow: rgb(128, 255, 251) 0px 0px 10px;
    transition: all .5s;
    transition-timing-function: ease-in-out;
    transform: scale(1.03);
}

.service_box img:hover {
    /* transform: translateY(-7px); */
    transform: scale(1.05);
    transition: all .8s ease-in-out;

}

.service_box h2,
p,
a {
    padding: 0 .8rem;
    text-align: center;
    text-decoration: none;
}

.service_box h2,
a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: var(--head_color);
}

.service_box p {
    color: var(--para_color);
}

.service_box img {
    height: 60%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    object-fit: cover;
    cursor: pointer;
}

.hair_service {
    margin-top: 2rem;
}

/* ------------------- RESPONSIVE --------------------- */

@media screen and (min-width:768px) and (max-width:1024px) {
    .our_speciality {

        padding: 0 1rem;

    }
}


@media screen and (min-width:250px) and (max-width:768px) {
    .our_speciality {
        padding: 0 .8rem;
    }

    .skills_heading h2 {
        font-size: 1.2rem;
        text-align: center;
    }

    .services {
        padding: 3rem .5rem 2.3rem;

    }

    .services .services_heading {
        font-size: 1rem;
        text-align: center;
    }

    .services_container {
        gap: 1.3rem;

    }

    .service_box {
        max-width: 13.2rem;
        /* max-height: 15rem; */
    }

    .service_box h2 {
        font-size: 1rem;
        font-weight: 600;
    }

    .service_box p {
        font-size: .9rem;
    }

    .skills-sec {
        padding: 1rem 1.1rem;
    }
}



/*  ------------ ABOUT section  =====================*/

.about_section {
    min-height: 80vh;
    padding: 5rem 8rem;


}

.about_section h1,
.heading {
    text-align: center;
    color: var(--head_color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

.about_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap-reverse; */
    align-items: center;
    max-width: 80vw;
    gap: 2.8rem;

}

.about_div .txt_content {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.about_div .txt_content h3 {
    text-align: center;
    font-weight: 400;
    font-style: italic;
    margin-top: .5rem;
    color: var(--head_color);

}

.about_div .txt_content p {
    text-align: left;
    color: var(--para_color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
}

.about_img {
    width: 50%;
    padding: 5rem 5rem 0rem;


}

.about_img img {
    width: 40vw;
}

.about_section .about_dash {
    width: 400px;
    /* height: 13px; */
    margin: auto;
    margin-top: 1rem;
}


/*  ---------------------- Responsive code of about section ===================== */

@media screen and (min-width:768px) and (max-width:1024px) {
    .about_section {
        padding: 4rem 2rem;
    }

    .about_div {
        gap: 0rem;

    }

    .txt_content p {
        font-size: 1rem;
    }
}



@media screen and (min-width:250px) and (max-width:768px) {

    .about_section {
        padding: 1rem 1.5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .about_section h1 {
        font-size: 1.7rem;
    }

    .about_div {
        flex-direction: column;
        gap: 0rem;
        margin: auto;
    }

    .about_div .txt_content h1 {
        font-size: 1.3rem;
    }

    .about_div .txt_content h3 {
        font-size: 1.1rem;
    }

    .about_div .txt_content p {
        font-size: .9rem;
        text-align: center;
    }

    .about_img {
        margin: auto;
        padding: 0rem;
        width: 300px;
        margin-top: 1rem;
    }

    .about_img img {
        min-width: 250px;
        margin: auto;
    }

    .about_section .about_dash {
        width: 120px;
    }
}









/* === -------------------result Section ---------------- */
.results {
    min-height: 100vh;
}

.result_dash {
    width: 400px;
    margin: auto;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

.results p {
    text-align: center;
    padding: 0rem 19rem;
    color: var(--para_color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
}


/* ---------------------- Result Slider ---------------------------- */
/* 
.result_slider {
    min-height: 30rem;
    width: 60vw;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

swiper-container{
 min-height: 30rem;
 object-fit: cover;
}

.mySwiper_results img {
    border-radius: 23px; 
    object-fit: cover; 
    max-height: 30rem; 
    min-height: 30rem;
    border-radius: 23px; 
} */

.result_slider {
    min-height: 60vh;

    width: 60vw;
    margin: auto;
    margin-top: 2rem;
}

.mySwiper_results img {
    border-radius: 23px;
    object-fit: cover;
}

/* .gori_chori{
    min-height: 32rem;
    max-height: 32rem;
} */

/* --------- Results section responsive code -------------------- */

@media screen and (min-width:768px) and (max-width:1024px) {

    .results h1 {
        font-size: 1.7rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .results p {
        padding: 0rem 2rem;
    }

    .result_slider .mySwiper_results {
        height: 22rem;
        width: 38rem;
        margin: auto;
    }
}


@media screen and (min-width:250px) and (max-width:768px) {
    .results p {
        padding: 0rem 2.5rem;
        font-size: .9rem;
    }

    .result_dash {
        width: 120px;
    }

    .result_slider {
        display: flex;
        justify-content: center;
    }

    .result_slider .mySwiper_results {
        min-height: 14rem;
        min-width: 18rem;

    }

}





/* ====== -------------  -======================== Contact =-======================------------------ */

.contact_section {
    min-height: 100vh;
    padding: 0rem 10rem;

}

.contact_dash {
    width: 400px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.contact_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contact_box .map_div {
    min-height: 50vh;
    width: 50%;
    /* background-color: #005980; */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 15px #33aaff;
}

.contact_box .map_div iframe {
    height: 25rem;
    width: 100%;
}





.contact_box .contact_form {
    width: 40%;
    background-color: #e8f7ff;
    min-height: 70vh;
    padding: 3rem 6rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 0px 20px #99ecff;
    border: 1px solid #06acff;
}

.contact_box .contact_form input {
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    min-width: 18rem;
    color: #323232;
    background-color: #ffffff;
    border: 1px solid rgb(128, 223, 255);
}

.contact_form input[type=text1] {

    /* color: #ffffff; */
    /* background-color: #0026ff; */
    padding-bottom: 7rem;
}

.contact_form button {
    margin-top: 1rem;
    padding: 1rem 3rem;
    border: none;
    border-radius: 12px;
    background: var(--btn_gradient);
    color: white;
    font-weight: 400;
    font-size: 1rem;
}

.contact_form button:hover {
    background: linear-gradient(105deg, #414141, #00aeff);
    transition: all 1s;
    transition-timing-function: ease-in-out;
}

.contact_info {
    min-height: 40vh;
    width: 100%;
    background: linear-gradient(34deg, #00ffff, #148aff);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contact_info .mobile_baksa {
    min-height: 6rem;
    min-width: 18rem;
    max-width: 21rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;
    /* gap: 20px; */
}


.mobile_baksa:hover {
    transform: scale(1.05);
    transition: .5s ease-in-out;
    background: linear-gradient(45deg, #83eeff, #fff);

}


.mobile_baksa_address {
    padding: 0rem .7rem;
}


.contact_info .mobile_baksa .img_baksa {
    background-color: #e9faffdb;
    padding: 1.3rem;
    border-radius: 30px;
}

.contact_info .mobile_baksa .img_baksa:hover {
    background-color: white;
}

.contact_info .mobile_baksa .txt_baksa {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    gap: 6px;
    align-items: center;
}

.contact_info .mobile_baksa .txt_baksa h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--head_color);
}

.contact_info .mobile_baksa .txt_baksa a {
    font-family: sans-serif;
    font-weight: 400;
    color: var(--para_color);
}

/* --------------------------RESPONSIVE CODE ============================= */

@media screen and (min-width:768px) and (max-width:1024px) {
    .contact_section {
        padding: 0px;
    }

    .contact_box {
        flex-direction: column;
        margin: 0px;
        padding: 0px;

    }

    .map_div {
        height: 25rem;
        min-width: 40rem;
        margin: 0px;
        padding: 0px;
    }



    .contact_form {
        padding: 0px;
        min-width: 30rem;
        min-height: 35rem;
        margin-bottom: 1rem;
    }

    .contact_form input {
        width: 27rem;
        padding: 10px 20px;
        /* min-width: 18rem; */
    }

    .contact_info {
        padding: 1.9rem 2rem;
        gap: 1rem;
    }

    .contact_info .mobile_baksa {
        min-height: 5.5rem;
        min-width: 15rem;
        max-width: 19rem;
        padding: .7rem 1rem;

    }


    .email_circle {
        margin-left: 1.5rem;
    }

    .txt_baksa a {
        font-size: .9rem;
    }
}





@media screen and (min-width:250px) and (max-width:768px) {
    .contact_section {
        padding: 0px;
    }

    .contact_section .heading {
        font-size: 1.7rem;

    }

    .contact_section .contact_dash {
        width: 120px;
    }

    .contact_box {
        flex-direction: column;
        margin: 0px;
        padding: 0px;

    }

    .map_div {
        height: 5rem;
        min-width: 16rem;
        margin: 0px;
        padding: 0px;
    }

    .contact_form button {
        margin-top: 1rem;
        padding: .8rem 2rem;
        border: none;
        border-radius: 12px;
        background: var(--btn_gradient);
        color: white;
        font-weight: 400;
        font-size: .9rem;
    }



    .contact_form {
        padding: 0px 1rem;
        min-width: 18rem;
        min-height: 15rem;
        margin-bottom: 2rem;
    }

    .contact_box .contact_form input {
        max-width: 13rem;
        min-width: 13rem;
        padding: 8px 10px;
        max-width: 13rem;
        border: none;
    }

    .contact_form input[type=text1] {

        /* color: #ffffff; */
        /* background-color: #0026ff; */
        padding-bottom: 5rem;
    }

    .contact_info {
        padding: 1.9rem 2rem;
        gap: 1.3rem;
    }

    .contact_info .mobile_baksa {
        min-height: 5rem;
        min-width: 17rem;
        max-width: 19rem;
        padding: .7rem 1rem;
        justify-content: space-around;

    }


    .mobile_baksa_email {
        display: flex;
        justify-content: center;
        padding-right: .3rem;
    }

    .mobile_baksa_email .email_circle {
        /* margin: auto; */
        /* margin-right: 2.3rem; */
    }

    .txt_baksa h3 {
        font-size: 1rem;
    }

    .txt_baksa a {
        font-size: .9rem;
    }

    .mobile_baksa_email .txt_baksa p {
        font-size: .85rem;
    }


}



/* ================== FOOTER ------------------ */

.footer {
    /* width: 1432px; */
    width: 100%;
    min-height: 30vh;
    background: linear-gradient(to right, #23003c, #002153);
    padding: 1rem 7rem;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

}

.logo_desc img {
    height: 100px;
    margin: auto;
    margin-left: 1rem;
}

.logo_desc {
    max-width: 25rem;
}

.logo_desc p {
    text-align: left;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.quick_links ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.quick_links h3,
.baat_chit h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
}

.quick_links ul a {
    color: white;
    font-family: sans-serif;
    margin: .4rem;
    text-align: left;

}

.quick_links ul a:hover {
    color: #00ddff;
}

.baat_chit {
    justify-content: center;
}

.baat_chit ul li {
    text-decoration: none;
    margin: 1rem;
    list-style: none;
    /* gap: 15px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.baat_chit ul li:hover {
    color: #00ddff;
}

.baat_chit ul i:hover {
    color: #00ddff;
}


.kanhaashutech h5 {
    color: white;
    background-color: #00093c;
    /* background-color: #005656; */
    text-align: center;
    padding: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}

.kanhaashutech a {
    color: #00ccff;
}

.kanhaashutech a:hover {
    color: #00a6ff;
}




@media screen and (min-width:768px) and (max-width:1250px) {
    .footer {
        padding: 1rem 4rem;
        justify-content: flex-start;
    }

    .baat_chit {
        justify-content: flex-start;
    }

}


@media screen and (min-width:250px) and (max-width:768px) {

    .footer {
        padding: 2rem 2rem;
        gap: 1.2rem;
    }

    .quick_links {
        left: 0;
    }

    .quick_links {
        /* justify-content: flex-start; */
        flex: 1 1 14rem;

    }

    .baat_chit {
        flex: 1 1 10rem;
    }
}